* {
  margin: 0;
  font-family: 'Roboto';
  color: #e2dcdc;
}
body {
  background: #cc0001;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.img-Container > img {
  width: 64.55%;
  height: 41vmax;
  background-color: #006c80;
  position: absolute;
  /* background: url('./assets/budog.jpg'); */
}
